<div class="container">

    <nav id="footer" class="navbar navbar-default navbar-static-bottom navbar-inverse">
        <div id=social-media class="pull-right">
                  <a href="http://facebook.com/slipk.jonathan" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href= target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
</div>