
     <footer>
        <div class="panel-footer">

            <div class="row containe">
                <div class="col-lg-4  col-md-4 col-sm-12"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;Contactenos</div>
                <div class="col-lg-4  col-md-4 col-sm-12 margen-central"><span class="glyphicon glyphicon-envelope"></span>&nbsp;<a href="mailto:me@seriedigital.com">me@seriedigital.com</a></div>
                <div class="col-lg-4  col-md-4 col-sm-12"><span class="glyphicon glyphicon-earphone"></span>&nbsp;(11)3410-4142</div>
            </div>
        </div>

    </footer>
     <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
     <script type="text/javascript" src="/javascripts/bootstrap.js"></script>


          
