body {
    background-image: url('/images/backGround.jpg');    
   
}

input {
    width:40%;
    text-align: center;
    margin: 0 auto;

}
.centrado {
    margin: 0 auto;
    text-align: center;
    width:50%;    
}

.thumbnail{
    text-align: center;
    height: 74vh;
}

.thumbnail a>img, .thumbnail>img {
    height: 230px;
    width: 160px;
}


.panel-footer{
  margin: 20px 0 0;
  padding-top: 15px;
  text-align: center;
  background-color: #3D3B30;
  color : white;
}

#social-media a{
  color:white;
  font-weight: bold;
  margin: 0 10px;
  font-size: 1.3em;
}

cssstyle.thumbnail {
    width:35%;
    margin: 0 auto;
    border: 32px solid darkorange;

}

.idProdcuct {
    width:44%;
    border: 2px solid black;
    border-radius: 10px;
}

.idProdcuct img{ 
    margin: 0 auto;
    height: 30%;
    width: 90%;
}
.navbar {
    background-color: #3D3B30;
    /*color : white;*/
    }

.navbar-default {
    color: white;
}

.navbar-default a {
    color: white;
} 


#brand , #addP  {
    color:white;
}

#brand:hover, #addP:hover{
    color:Green;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: green;
}

